name: Build iOS

on: [push]

jobs:
  build:
    name: install dependencies
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1.1.1
        with:
          channel: "stable"
      - name: build ios
        run: flutter pub get
        run: flutter build ios --release --no-codesign
